doctype html
html
	head
		title= settings.title
		link(rel='stylesheet', href='css/app.css')
		link(rel='stylesheet', href='css/main.css')
	body

		block content

		//- library scripts
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='bower_components/foundation/js/foundation.min.js')

		//- ember application
		script(src='js/main.js')